
        <div class="view">
            <div class="container">

                <h1>supporter</h1>
                {{#signedUsers}}
                <!-- <p class="signees">{{first}} {{last}}</p> -->

                {{#if url}}
                    <p class="supporter">
                        <a class="inline highlighted" href="{{url}}">
                        {{first}} {{last}}</a>
                        {{#if age}}
                        {{age}}
                        {{/if}}
                        {{#if city}}
                        | <a class="inline" href="/supporter/{{city}}">{{city}}</a>
                        {{/if}}

                    </p>
                {{else}}
                    <p class="supporter">
                        {{first}} {{last}}
                        {{#if age}}
                         {{age}}
                        {{/if}}
                        {{#if city}}
                        <a class="inline" href="/supporter/{{city}}">{{city}}</a>
                        {{/if}}
                    </p>
                {{/if}}
            {{/signedUsers}}
            </div>
        </div>
