
        <div class="view">
            <div class="headline">
                <p>you are the best!</p>
            </div>
            <div class="signersList">


                {{#signedUsers}}
                <!-- <p class="signees">{{first}} {{last}}</p> -->

                {{#if url}}
                    <p class="supporter">
                        <a class="inline highlighted" href="{{url}}">
                        {{first}} {{last}},</a>
                        {{#if age}}
                        {{age}} years,
                        {{/if}}
                        {{#if city}}
                         <a class="inline" href="/supporter/{{city}}">{{city}}</a>
                        {{/if}}

                    </p>
                {{else}}
                    <p class="supporter">
                        {{first}} {{last}}
                        {{#if age}}
                         {{age}}
                        {{/if}}
                        {{#if city}}
                        <a class="inline" href="/petition/supporter/{{city}}">{{city}}</a>
                        {{/if}}
                    </p>
                {{/if}}
            {{/signedUsers}}
            </div>
        </div>
